<!DOCTYPE html>

<html>

   <head>
      <title>File Metadata</title>
            <!-- Google Fonts -->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
            <!-- Bootstrap core CSS -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
            <!-- Local CSS -->
            <link rel="stylesheet" type="text/css" href='./public/style.css'>
   </head>

   <body>

      <div class="container">
        <h2>File Metadata Microservice</h2>
        <h3>User Stories:</h3>
        <ol>
          <li>I can submit a form object that includes a file upload.</li>
          <li>The from file input field  has the "name" attribute set to "upfile". We rely on this in testing.</li>
          <li>When I submit something, I will receive the file name, and size in bytes within the JSON response.</li>
        </ol>

        <h3>Usage:</h3>
        <p>
          Please Upload a File ...
        </p>
        <div class="view">
          <h4 id="output"></h4>
          <form enctype="multipart/form-data" method="POST" action="/api/fileanalyse">
            <input id="inputfield" type="file" name="upfile" class="btn btn-outline-primary waves-effect">
            <input id="button" class="btn peach-gradient" type="submit" value="Upload">
          </form>
        </div>
      </div>
      <div class="footer">
      </div>
            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
   </body>


</html>
