/****** Main Styling ******/

body {
  font-size: 16px;
  color: white;
  text-align: center;
  background-image: url("./images/space.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  padding: 0;
  margin-top: 40px;
}

.footer {
  margin-top: 60px;
}

ol {
  list-style-position: inside;
}
ul {
  list-style-type: none;
}

a {
  color: #2574a9;
}

input {
  display: block;
  position: relative;
  margin: 10px auto;
}
input#button {
  width: 230px;
}
.view {
  position: relative;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #aaa;
  padding: 20px;
  width: 60%;
  min-width: 400px;
  background-color: rgba(255, 255, 255, 0.781);
}
/****** Logo Div Styling ******/

img {
  margin: 20px auto 0 auto;
  display: block;
}
